{% load static %}

<!DOCTYPE html>
<html lang="pt-br" class="vh-100" style="overflow-x:hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'all.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>MedTech | Login</title>
</head>
<body class="vh-100" style="overflow-x:hidden; display:flex; flex-direction:column;">
    <div class="my-auto">
        <div class="col-12">
            <div class="row d-flex justify-content-center align-items-center text-center">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <img src="{% static 'images/MedTech-LogoBranca.png' %}" alt="Logo MedTech" style="max-height:20rem;">
                </div>
            </div>
        </div>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="col-12">
                <div class="row d-flex justify-content-center align-items-center mx-4 mb-5">
                    <div class="col-10 px-3 py-4" style="background-color: #CC2B31;width: 400px;height: 250px;flex-shrink: 0; border-radius:31px;">
                        <h3>Erro!<br>Tente novamente.</h3>
                        <button class="btn btn-dark">Tentar de novo!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
