{% load static %}

<!DOCTYPE html>
<html lang="en" style="overflow-x:hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'all.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...SuaHashAqui..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <title>MedTech | Tela Inicial</title>
</head>
<body class="vh-100 vw-100">
    <div class="col-12 no-padding">
        <div class="row" style="background-color: #CC2B31;">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="{% static 'images/MedTech-LogoVermelha.png' %}" alt="Logo MedTech" class="img-fluid" style="max-height:15rem;max-width:15rem;">
            </div>
        </div>
        <div class="row w-100">
            <div class="col-lg-12 col-md-9 col-sm-12 no-padding">
                <div class="col-12 px-4">
                    <div class="row py-3 mb-4 text-center" style="border-bottom:#cc2b31 dashed 2px">
                        <small class="text-white"><h3 style="color: #CC2B31;">Bem-vindo(a)!</h3></small>
                        <h2 style="color: #CC2B31;"><span class="fa fa-home pr-1"></span> Tela Inicial</h2>
                    </div>
                    <div class="col-12">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div style="background-color:#cc2b31" class="my-2 col-6 text-center h-100 w-75 ibox-content border border-2 border-white py-2 px-1 w-100 text-white">
                                <a style="color: #ffff;" class="w-100 h-100 btn btn-default" style="font-weight:bold;" href="{% url 'tela-inicial' %}">Tela Inicial</a>
                            </div>

                            <div style="background-color:#cc2b31" class="my-2 col-6 h-100 ibox-content border border-2 border-white py-2 px-1  text-center text-white">
                                <a style="color: #ffff;" class="w-100 h-100 btn btn-default" href="{% url 'index' %}" style="font-weight:bold;">Pacientes</a>
                            </div>

                            <div style="background-color:#cc2b31" class="my-2 col-6 h-100 ibox-content border border-2 border-white py-2 px-1  text-center text-white">
                                <a style="color: #ffff;" class="w-100 h-100 btn btn-default" href="{% url 'consultas' %}" style="font-weight:bold;">Consultas</a>
                            </div>

                            <div style="background-color:#cc2b31" class="my-2 col-6 h-100 ibox-content border border-2 border-white py-2 px-1  text-center text-white">
                                <a style="color: #ffff;" class="w-100 h-100 btn btn-default" href="{% url 'lista_funcionario' %}" style="font-weight:bold;">Funcionários</a>
                            </div>
                            
                            <div style="background-color:#cc2b31" class="my-2 col-6 h-100 ibox-content border border-2 border-white py-2 px-1  text-center text-white">
                                <a style="color: #ffff;" class="w-100 h-100 btn btn-default" style="font-weight:bold;" href="{% url 'relatorios' %}">Relatórios</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:#cc2b31" class="my-2 col-12 h-100 ibox-content border border-2 border-white py-2 px-1  text-center">
                            <a style="color: #ffff;" class="w-75 h-100 btn btn-default text-white" href="{% url 'login' %}">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            new DataTable('#table-consultas', {
                order: [
                    [3, 'desc']
                ],
                scrollY: 200, 
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                    zeroRecords: 'Não foi encontrado nada, desculpe!'
                },
            });
        } );
      
    </script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>