{% load static %}

<!DOCTYPE html>
<html lang="en" style="overflow-x:hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'all.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...SuaHashAqui..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <title>MedTech | Consultas</title>
</head>
<body class="vh-100">
    <div class="col-12 no-padding">
        <div class="row w-100">
            {% comment %} MENU {% endcomment %}
            <div class="col-lg-2 col-md-3 col-sm-12 pb-4" style="background-color: #CC2B31;">
                {% include 'menu.html' %}
            </div>
            {% comment %} END MENU {% endcomment %}

            <div class="col-lg-10 col-md-9 col-sm-12 no-padding">
                <div class="col-12 px-4">
                    <div class="row pt-5 mb-4">
                        <h2 style="color: #CC2B31;"><span class="fa fa-calendar-check pr-3"></span> Gestão de Consultas</h2>
                    </div>
                    <div class="row pt-2 my-3">
                        <div class="col-6">
                            <a href="{% url 'criar-consulta' %}" class="btn px-3 py-2 text-white" style="background-color: #CC2B31; border-radius:25px;">Nova Consulta</a>
                        </div>
                    </div>
                    <div class="col-12 pb-3 my-3 mx-auto">
                        <table id="table-consultas" border="1" class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>Paciente</th>
                                    <th>Telefone do paciente</th>
                                    <th>Médico</th>
                                    <th>Horário</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consulta in consultas %}
                                    <tr>
                                        <td>{{ consulta.paciente }}</td>
                                        <td>{{ consulta.paciente.telefone }}</td>
                                        <td>{{ consulta.profissional }}</td>
                                        <td>{{ consulta.data_hora }}</td>
                                        <td>{{ consulta.status }}</td>
                                        <td>
                                            <small class="my-2 mx-1">
                                                {% comment %} Adicionar rota para visualizar uma Consulta href="{% url 'visualizar_paciente' paciente.id %}" {% endcomment %}
                                                <a class="btn btn-dark btn-sm" style="border-radius:50%;" href="{% url 'visualizar-consulta' consulta.id %}" data-toggle="tooltip" title="Visualizar"><span class="fa fa-eye fa-1x"></span></a>
                                            </small>
                                            <small class="my-2 mx-1">
                                                {% comment %} Adicionar rota para deletar uma Consulta href="{% url 'deletar_paciente' paciente.id %}" {% endcomment %}
                                                <a class="btn btn-dark btn-sm" style="border-radius:50%;" href="{% url 'deletar-consulta' consulta.id %}" data-toggle="tooltip" title="Deletar"><span class="fa fa-trash fa-1x"></span></a>
                                            </small>
                                            <small class="my-2 mx-1">
                                                {% comment %} Adicionar rota para deletar uma Consulta href="{% url 'deletar_paciente' paciente.id %}" {% endcomment %}
                                                <a class="btn btn-dark btn-sm" style="border-radius:50%;" href="{% url 'editar-consulta' consulta.id %}" data-toggle="tooltip" title="Editar"><span class="fa fa-pencil fa-1x"></span></a>
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            new DataTable('#table-consultas', {
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                },
            });
        } );
      
    </script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>
