{% load static %}
<!DOCTYPE html>
<html lang="en" style="overflow-x:hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'all.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...SuaHashAqui..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <title>MedTech | Consultas</title>
</head>

<div class="col-12 no-padding">
    <div class="row w-100">
        {% comment %} MENU {% endcomment %}
        <div class="col-lg-2 col-md-3 col-sm-12 pb-4" style="background-color: #CC2B31;">
            {% include 'menu.html' %}
        </div>
        {% comment %} END MENU {% endcomment %}

        <div class="col-lg-10 col-md-9 col-sm-12 no-padding">
            <div class="col-12 px-4">
                <div class="row pt-5 mb-4">
                    <h2 style="color: #CC2B31;"><span class="fa fa-users pr-3"></span> Gestão de Consultas - Criação</h2>
                </div>
                <div>
                    <a href="{% url 'consultas' %}" style="background-color: #CC2B31;" class="btn btn-default btn-sm text-white px-2 py-1"><span class="fa fa-arrow-left fa-1x"></span> Voltar</a>
                </div>
                <div class="row shadow my-3 py-4 px-2">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-lg-8 col-md-8 col-sm-12 py-2">
                            <label for="{{ consultas_form.paciente.id_for_label }}">Paciente:</label>
                            {{ consultas_form.paciente }}
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 py-2">
                            <label for="{{ consultas_form.profissional.id_for_label }}">Profissional:</label>
                            {{ consultas_form.profissional }}
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 py-2">
                            <label for="{{ consultas_form.data_hora.id_for_label }}">Data e hora:</label>
                            {{ consultas_form.data_hora }}
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 py-2" style="display: none;"    >
                            <label for="{{ consultas_form.data_hora.id_for_label }}">Status</label>
                            {{ consultas_form.status }}
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            <button class="btn btn-default px-3 py-2 w-75 text-white" style="background-color: #CC2B31;" type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        label {
            color: #CC2B31;
            font-weight:bold;
        }
        ul{list-style-type:none; margin:0; padding:0;};
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const inputs = document.querySelectorAll('input');
            inputs.forEach(input => {
                input.classList.add('form-control');
            });

            const selects = document.querySelectorAll('select');
            selects.forEach(select => {
                select.classList.add('form-select');
            });
        });
    </script>

</div>
</html>