<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for atendente in atendentes %}
            <a href="{% url 'edita_atendente' atendente.id %}">
                <li> {{ atendente.nome }}</li>
                <li> {{ atendente.cargo }}</li>
                <li> {{ atendente.valor_consulta }}</li>
            </a>
        {% endfor %}
    </ul>

    <a href="{% url 'cria_atendente' %}">Cria Atendente</a>
</body>
</html>