<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
</head>
<body>
    <a href="{% url 'cria_funcionario' %}">Cria Funcionario</a>
    </br>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Cargo</th>
                <th>Salário</th>
                <th>Registro CC</th>
                <th>Especialidade</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.telefone }}</td>
                    <td>{{ funcionario.cargo }}</td>
                    <td>{{ funcionario.salario }}</td>

                    {% if funcionario.cargo|lower == 'profissional de saúde' %}
                        <td>{{ funcionario.profissionalsaude.registro_cc }}</td>
                        <td>{{ funcionario.profissionalsaude.especialidade.all|join:", " }}</td>
                    {% else %}
                        <td>-</td>
                        <td>-</td>
                    {% endif %}

                    <td><a href="{% url 'edita_funcionario' funcionario.id %}">Editar</a></br><a href="{% url 'deleta_funcionario' funcionario.id %}">Deletar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
