<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Paciente</title>
</head>
<body>

  <h2>Editar Paciente</h2>
  <a href="{% url 'index' %}"><button>Lista de pacientes</button></a>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar Alterações</button>

  </form>

  <p>Dados atuais do paciente:</p>
  <ul>
    <li>Nome: {{ paciente.nome }}</li>
    <li>Telefone: {{ paciente.telefone }}</li>
    <li>Telefone Secundário: {{ paciente.telefone_secundario }}</li>
    <li>Data de Nascimento: {{ paciente.data_nascimento }}</li>
    <li>Plano de Saúde: {{ paciente.plano_saude|default:"Não possui" }}</li>
    <li>Endereço: {{ paciente.endereco }}</li>
  </ul>

  <script>
    document.getElementById("id_nome").value = "{{ paciente.nome }}";
    document.getElementById("id_telefone").value = "{{ paciente.telefone }}";
    document.getElementById("id_telefone_secundario").value = "{{ paciente.telefone_secundario }}";
    document.getElementById("id_data_nascimento").value = "{{ paciente.data_nascimento|date:'Y-m-d' }}";
    document.getElementById("id_plano_saude").value = "{{ paciente.plano_saude }}";
    document.getElementById("id_endereco").value = "{{ paciente.endereco }}";
  </script>

</body>
</html>
